# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Other files
*.uvguix
*.uvguix.*
/P1/Output
/P3/P3_1/Objects
/P3/P3_1_sin_problema/Objects
/P3/P3_2/Objects
/P3/P3_2_sin_problema/Objects
**/Objects/*
**/Listings/*
**/Output/*
*.crf
*.lst
*.iex